version: '3.9'

services:
  booking-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking-service
    ports:
      - "3005:3005"
    env_file:
      - .env
    command: sh -c "npx prisma migrate deploy && node dist/main"
    networks:
      my_custom_network:
        ipv4_address: ${APP_IP}
    restart: always
    healthcheck:
      test: ["CMD", "node", "dist/health.js"]  # hoặc dùng HTTP
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  my_custom_network:
    external: true